*{
	margin:0;
	padding:0;

}
header{
	background-color: mistyrose;
	 z-index:1; /* da header ide preko slika */
	
	overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.icon{
	float:left;
	padding:15px;
	padding-top:10px;
	padding-left:10px;
}
.icon div {
    width: 38px;
    height: 6px;
    background-color: goldenrod;
    margin: 6px 0;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(255,255,255); /* White fallback color */
    background-color: rgba(255,255,255, 0.9); /* White w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%; /* 10% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: darkgoldenrod;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: goldenrod;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
#black{
	position:fixed;
	z-index: 1;
	background-color:mistyrose;
	width: 100%;
	height:40px;
	clear: both;


}
#black h2{
	color:goldenrod;
	font-weight: bold;
	float:left;
	padding:5px;
	padding-left:20px;

}

.podnaslovi{
	float:right;
	font-weight: bold;
	color:goldenrod;
}
.podnaslovi a{
	float: left;
padding:9px;
padding-left:15px;
padding-right:18px;
border-left:1px solid grey;
text-align: center;
color:goldenrod;
text-decoration: none;
}
body{
    background-image: url(pozadina.jpg);
    margin-top: 65px;
    background-size: cover;
}
h2{
    padding-top: 105px;
    text-align: left;
    padding-left: 10px;
    font-size: 30px;
    font-family: "Helvetica", sans-serif;
    color: goldenrod;
}
#slika{
    width: 290px;
    height: 350px;
    border: 3px solid goldenrod;
    margin: 10px;
   
}
clear{
    clear: both;
}

